# =========================
# Ansible
# =========================
*.retry
.ansible/
ansible/.ansible/
ansible/collections/ansible_collections/

# bash OS files
.bashrc
.profile
.bash_aliases

# Vault / secrets
.vault_pass
vault_pass.txt

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Terraform (futuro)
# =========================
.terraform/
*.tfstate
*.tfstate.*

# =========================
# Docker
# =========================
*.tar

*.deb
